<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="../../../assets/images/GTAV.jpg" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 text-success"><b>GAME SHOP</b> </h1>
                          <h3 class="h2">VIDEOJUEGOS Y TECNOLOGIA</h3>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
          <h1 class="h1">CATEGORIAS GAME-SHOP</h1>
          
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="/dashboard/Videojuegos"><img src="../../../assets/images/far cry 3.jpg" class="rounded-circle img-fluid border"></a>
          <h5 class="text-center mt-3 mb-3">VIDEOJUEGOS</h5>
          <p class="text-center"><a class="btn btn-success" href="/dashboard/Videojuegos">IR</a></p>
      </div>
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"><img src="../../../assets/images/tecnologia/teclado.jpg" class="rounded-circle img-fluid border"></a>
          <h2 class="h5 text-center mt-3 mb-3">TECNOLOGIA</h2>
          <p class="text-center"><a class="btn btn-success" href="/dashboard/tecnologia">IR</a></p>
      </div>
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"><img src="../../../assets/images/juegos/NEXT.PNG" class="rounded-circle img-fluid border"></a>
          <h2 class="h5 text-center mt-3 mb-3">PROXIMAMENTE</h2>
          <p class="text-center"><a class="btn btn-success" href="/dashboard/proximamente">IR</a></p>
      </div>
  </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->

<!-- End Featured Product -->