<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
    

  <h1>Terminos Y Condiciones</h1>
  <br>
  <br>
  
<h4> Aceptación de los Términos y Condiciones: Al hacer uso de nuestro sitio web y realizar compras en él, usted acepta y está de acuerdo con estos términos y condiciones. Si no está de acuerdo con alguna de las condiciones aquí establecidas, por favor, no realice compras en nuestro sitio web.</h4>

<br>
<br>
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Ver Terminos y condiciones
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terminos y Condiciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
            <p>Términos y Condiciones de Uso.</p>
            <p>
                Los usuarios de esta aplicación aceptan expresamente, por el sólo hecho de hacer uso de dicho sistema, a someterse y ajustarse a los términos y condiciones declarados en esta sección.</p>
                <p>
                Propiedad Intelectual </p>
                <p>
                El uso de esta aplicación no otorga derecho alguno sobre la misma distinto a la autorización para su uso permitido. La titularidad de los derechos de propiedad intelectual de la aplicación son y corresponden exclusivamente a Ryder Capital, S. de R.L. de C.V. En ningún caso el Usuario podrá alterar de forma alguna la aplicación, realizar Ingeniería inversa sobre ésta, distribuirla, hacer copla o cualquier uso distinto del expresamente autorizado, sujetándose a las responsabilidades incluso penales que pudieren aplicar.</p>
                <p>
                Obligaciones del Usuario.</p>
                <p>
                Contar con el equipo adecuado para hacer uso de la aplicación y que sea compatible con el mismo, tanto en las caracteristicas del equipo (hardware") o en los sistemas operativos (software); así como una conexión a su exclusivo costo a la red internacional o "Internet" para estar en posibilidad de de Navegar por Internet</p>
               <br>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a href="dashboard"><button type="button" class="btn btn-primary" >Aceptar</button></a>
        </div>
      </div>
    </div>
  </div>
   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>