<!-- products section start  -->
<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <h3 class="mb-4 nav-name">VIDEOJUEGOS POPULARES</h3>
      </div>
    </div>
    <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center position-relative ">
              <div class=" position-absolute top-0 start-0">
                <span class="badge bg-danger">Disponible</span>
              </div>
              <a href="#!"> <img src="../../assets/images/juegos/maincra.jpg" alt="Grocery Ecommerce Template"
                  class="mb-3 img-fluid"></a>
              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                    class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i
                    class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i
                    class="bi bi-arrow-left-right"></i></a>
              </div>
            </div>
            <div class="text-small mb-1"><a href="#!"
                class="text-decoration-none text-muted"><small> Minecraft</small></a></div>
            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark  text-decoration-none">Juega con tus Amigos en
                un mundo Abierto y diviertete.</a></h2>
            <div>
              <small class="text-warning"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i></small> <span class="text-muted small"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">15$</span>
              </div>
              <div><!-- <a href="#!" class="btn btn-success btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg> Oferta</a>--></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center position-relative ">
              <div class=" position-absolute top-0 start-0">
                <span class="badge bg-danger">Disponible</span>
              </div>
              <a href="#!"> <img src="../../assets/images/juegos/FIFA23.PNG" alt="Grocery Ecommerce Template"
                  class="mb-3 img-fluid"></a>
              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                    class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i
                    class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i
                    class="bi bi-arrow-left-right"></i></a>
              </div>
            </div>
            <div class="text-small mb-1"><a href="#!"
                class="text-decoration-none text-muted"><small>Fifa 23</small></a></div>
            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark  text-decoration-none">Juega con tus Amigos unas partidas 
              para demostrar quien es el mejor en este juego de futbol.</a></h2>
            <div>
              <small class="text-warning"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i></small> <span class="text-muted small"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">15$</span>
              </div>
              <div><!-- <a href="#!" class="btn btn-success btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg> Oferta</a>--></div>
            </div>
          </div>
        </div>
      </div>

      
      
      





    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1"> VIDEOJUEGOS</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/fornite.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$40.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">FORNITE</a>
            <p class="card-text">
              Fortnite es un videojuego del año 2017 desarrollado por la empresa Epic Games lanzado como diferentes paquetes de software que presentan diferentes modos de juego, pero que comparten el mismo motor de juego y mecánicas. Fue anunciado en los premios Spike Video Game Awards en 2011.
            </p>
           
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/maincra.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$60.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">MINECRAFT</a>
            <p class="card-text">
              Minecraft es un videojuego de construcción de tipo «mundo abierto» o sandbox creado originalmente por el sueco Markus Persson, ​ y posteriormente desarrollado por Mojang Studios.​
            </p>
          
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/FIFA23.PNG" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$60.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">FIFA 23</a>
            <p class="card-text">
              FIFA 23 es un videojuego de simulación de fútbol publicado por Electronic Arts. Es la trigésima entrega de la serie FIFA desarrollada por EA Sports, y la última entrega bajo el estandarte de FIFA, y lanzada en todo el mundo el 30 de septiembre de 2022 para PC, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One, Xbox Series X. /S y Google Stadia. Sin embargo, los jugadores que reservaron la Ultimate Edition recibieron tres días de acceso anticipado y pudieron jugar el juego a partir del 27 de septiembre.
            </p>
           
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/WARZONE.PNG" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$60.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">CALL OF DUTY WAR ZONE</a>
            <p class="card-text">
              Call of Duty: Warzone[ b ] es un libre para jugar videojuego battle royale lanzado el 10 de marzo de 2020, para PlayStation 4, Xbox One, y Microsoft Windows. El juego es parte de 2019 Call of Duty: Modern Warfare y está conectado a 2020 Call of Duty: Black Ops: Guerra Fría y 2021 Call of Duty: Vanguard, pero no requiere la compra de ninguno de los títulos antes mencionados, y se introdujo durante la temporada 2 de Guerra moderna contenido. Warzone fue desarrollado por Barrio infinito y Software Raven ( este último acreditado posteriormente como el único desarrollador después de la integración de Guerra Fría's contenido ) y publicado por Activision.
            </p>
           
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/GTA5.PNG" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$60.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">GRAND THEF AUTO 5 </a>
            <p class="card-text">
              Grand Theft Auto V es un 2013 juego de acción y aventura desarrollado por Rockstar North y publicado por Juegos Rockstar. Es la séptima entrada principal en el Grand Theft Auto serie, después de 2008 Grand Theft Auto IV, y la decimoquinta entrega en general. Ubicado dentro del estado ficticio de San Andreas, basado en del sur de California, la un jugador la historia sigue a tres protagonistas— retirado ladrón de bancos Michael De Santa, calle gángster Franklin Clinton, y traficante de drogas y pistolero Trevor Philips— y sus intentos de cometer atracos mientras están bajo la presión de una agencia gubernamental corrupta y criminales poderosos. los mundo abierto el diseño permite a los jugadores vagar libremente El campo abierto de San Andreas y la ciudad ficticia de Los Santos, basada en Los Angeles.
            </p>
        
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="#">
            <img src="../../../assets/images/juegos/TLOUS.PNG" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">

              <li class="text-muted text-right">$60.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">THE LAST OF US </a>
            <p class="card-text">
            The Last of Us es una franquicia de juegos de terror y supervivencia de acción y aventuras creada por Naughty Dog y Sony Interactive Entertainment. La serie está ambientada en un Estados Unidos postapocalíptico devastado por criaturas caníbales infectadas por un hongo mutado del género Cordyceps
            </p>
       
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- products section end  -->
<!-- services section start  -->

<!-- services section end  -->
<!-- footer section start here  -->